<ion-view view-title="Discover">
  <div class="row">
    <div class="col">
    <ion-content class="subheader">
        <ion-list>
          <ion-item1>
          <a href="#/toppicks"> <img class= "full-image"src="img/toppicks.jpg"
            alt="Photo">
          </a>
          </ion-item>

          <ion-item2>
            <a href="#/topoutfits"><img class="full-image" src="img/topoufits.jpg"
            alt="Photo">
          </ion-item>

          <ion-item3>
            <a href="#/myoutfits"><img class="full-image" src="img/myoufits.jpg"
            alt="Photo">
          </a>
          </ion-item3>
        </ion-list>
  </ion-content>
</div>
</div>
</ion-view>
