<ion-view view-title="Welcome" >
  <ion-content class=" splash padding login-page">
  </br>
  <div class="login-div">
    <div class="logoi">
      <img  class="full-image"src="img/aidelogo-white.png">
    </div>
 </br>
 </br>
    <h1 class="text-center">Get outfit ideas</br> for your wardrobe</h1>
    </br>
  </br>
  <!--<form name="loginForm">
      <div class="list list-inset">
        <label class="item item-input">
            <input required type="text" placeholder="Name" ng-model="data.email">
        </label>
              <label class="item item-input">
                  <input required type="text" placeholder="Email" ng-model="data.email">
              </label>
              <label class="item item-input">
                  <input required type="password" placeholder="Password" ng-model="data.password">
              </label>
      </div>
   </form>-->
  <button class="button button-outline button-block button-light"  ng-click="login()">Login</button>
  <button class="button button-outline button-block button-light"  ng-click="login()">Create Account</button>
 	    <a style="text-decoration: none;"href="#/tab/discover"><button class="button button-block button-calm">Continue as a Guest</button>
    </a>
<!--<button class="button button-block button-dark" ng-click="signUp()">Contine as Guest</button>-->
     <!--<div class="centerDiv">
      <button class="button button-positive buttonFullwidth" ng-click="facebookLogin()">Facebook</button>
      <button class="button button-calm buttonFullwidth" ng-click="twitterLogin()">Twitter</button>
    </div>
 <a href="#/tab/discover"><buton>Contine as Guest</button></a>
  </div>-->
  </ion-content>
</ion-view>
