< <ion-view view-title="What is the color?">
  <ion-content>
  <div class="row">

      <div class="item item-body item-borderless"
      data-key="color" data-value="blue" ng-click="selectThing($event)">
      <a href="#/match">
    <div class="blue">
    </div>
  </a>
  </div>

  <div class="item item-body item-borderless"
  data-key="color" data-value="yellow" ng-click="selectThing($event)">
  <a href="#/match">
    <div class="yellow">
    </div>
  </a>
  </div>


  <div class=" item-body item-borderless"
  data-key="color" data-value="pink" ng-click="selectThing($event)">
  <a href="#/match">
    <div class="pink">
    </div>
  </a>
  </div>

</div>

<div class="row">
  <div class="col">
    <div class="item item-body item-borderless"
    data-key="color" data-value="green" ng-click="selectThing($event)">
    <a href="#/match">
  <div class="green">
  </div>
</a>
</div>
</div>
<div class="col">
<div class="item item-body item-borderless"
 data-key="color" data-value="black" ng-click="selectThing($event)">
<a  href="#/match">
  <div class="black">
  </div>
</a>
</div>
</div>
<div class="col">
<div class=" item-body item-borderless"
 data-key="color" data-value="white" ng-click="selectThing($event)">
<a style="text-decoration: none;" href="#/match">
  <div class="white">
  </div>
</a>
</div>
</div>

</div>
<div class="row">
  <div class="col">
    <div class="item item-body item-borderless"
    data-key="color" data-value="purple" ng-click="selectThing($event)">
    <a style="text-decoration: none;" href="#/match">
  <div class="purple">
  </div>
</a>
</div>
</div>
<div class="col">
<div class="item item-body item-borderless"
 data-key="color" data-value="orange" ng-click="selectThing($event)">
<a style="text-decoration: none;" href="#/match">
  <div class="orange">
  </div>
</a>
</div>
</div>
<div class="col">
<div class=" item-body item-borderless"
 data-key="color" data-value="lightb" ng-click="selectThing($event)">
<a href="#/match">
  <div class="lightb">
  </div>
</a>
</div>
</div>
</div>
<div class="row">
  <div class="col">
  <div class="item item-body item-borderless"
   data-key="color" data-value="brow" ng-click="selectThing($event)">
  <a href="#/match">
    <div class="brown">
    </div>
  </div>
  </div>
  <div class="col">
  <div class="item item-body item-borderless"
  data-key="color" data-value="grey" ng-click="selectThing($event)">
  <a  href="#/match">
    <div class="grey">
    </div>
  </div>
  </div>
<div class="col">
    <div class="item item-body item-borderless"
    data-key="color" data-value="red" ng-click="selectThing($event)">
    <a href="#/match">
      <div class="red">
      </div>
    </div>
</div>
</div>
  </ion-content>
</ion-view>
