<ion-view view-title="Style">
<ion-content class="padding">
  <h4 class="text-center"> How would you like to dress?</h4>
<div class="row">
     <div class="col-50">
        <a style="text-decoration: none;" href="#/style_form_1">
       <div class="list card-borderless">
           <div class="item item-body item-borderless" data-key="category" data-value="formal business" ng-click="selectThing($event)">
           <img class="full-image" src="img/formalbusiness.jpg">
           <p class="text-center"><label class="radio-label text-center"> Business Formal</label>
        </p>
      </div>
    </div>
  </a>
  </div>
    <div class="col-50">
      <a style="text-decoration: none;" href="#/style_form_1">
      <div class="list card-borderless">
          <div class="item item-body item-borderless" data-key="category" data-value="men-casual" ng-click="selectThing($event)">
          <img class="full-image" src="img/casual.jpg">
          <p class="text-center"><label class="radio-label text-center"> Casual</label>
       </p>
     </div>
   </div>
  </a>
  </div>
</div>
      <div class="row">
        <div class="col-50">
      <a style="text-decoration: none;" href="#/style_form_1">
          <div class="list card-borderless">
              <div class="item item-body item-borderless" data-key="category" data-value="men-urban" ng-click="selectThing($event)">
              <img class="full-image" src="img/urban.jpg">
              <p class="text-center"><label class="radio-label text-center"> Urban</label>
           </p>
         </div>
       </a>
       </div>
     </div>
     <div class="col-50">
       <a style="text-decoration: none;" href="#/style_form_1">
       <div class="list card-borderless">
           <div class="item item-body item-borderless" data-key="category" data-value="men-business-casual" ng-click="selectThing($event)">
           <img class="full-image" src="img/businesscasual.jpg">
           <p class="text-center"><label class="radio-label text-center"> Business Casual</label>
        </p>
      </div>
    </div>
  </a>
   </div>
 </div>
</div>
</ion-content>
</ion-view>
