<ion-view view-tille="Photos">
      <!--<ion-content ng-controller="ImagePickerController">

                <button class="button button-positive" ng-click="getImageSaveContact()">
                    Get Image and Save a Contact with It
                </button>
                <img ng-src="{{collection.selectedImage}}" style="width:100%; height: auto;"/>
                <button class="button button-full button-assertive" ng-click="takePhoto()">
                Take Photo
                </button>
                <button class="button button-full button-assertive" ng-click="choosePhoto()">
                Choose Photo
                </button>
            </ion-content>-->

    <div class="padding">
      <img src="http://placehold.it/350x300">
      <button class="button button-block button-positive" ng-click="takePhoto()">Take Picture</button>
    </div>
    <div class="padding">
    <button class="button button-block button-positive"
    ng-click="choosePhoto()">
Choose Photo
</button>
  </ion-content>
</div>
</ion-view>
