
<div class="tabs-striped tabs-dark tabs-background-dark">
<ion-tabs class=" tabs-dark tabs-icon-top tabs-color-active-light tabs-color-light">

  <!-- DICOVER Tab -->
  <ion-tab title="Popular" icon-off="ion-ios-star-outline stable" icon-on="ion-ios-star" href="#/tab/discover" on-select="main.onTabSelected(this)">
    <ion-nav-view name="discover-tab"></ion-nav-view>
  </ion-tab>

  <!-- STYLE Tab -->
  <ion-tab title="What to wear" icon-off="ion-ios-briefcase-outline stable" icon-on="ion-ios-briefcase" href="#/tab/style">
    <ion-nav-view name="style-tab"></ion-nav-view>
  </ion-tab>

  <!-- PROFILE Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline stable" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</div>
