<!--<ion-view hide-nav-bar="true">-->
<ion-view view-title='Welcome'>
  <ion-content>
  <ion-slide-box active-slide="myActiveSlide">
    <ion-slide>
      <div class="0">
        </br>
        </br>
          <a href="#/login">
            <button class="button button-outline button-positive">Skip</button>
          </a>
        </br>
        </br>
          <div class="logo-welcome">
          <h3 class="padding">Welcome to</h3>
          <img class="full-image"src="img/aidelogo-black.png"/>
        </br>
        </br>
          <h4>Your Personal Fashion Helper!<h4>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="1">
<img class="full-image" src="img/segunda.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="1">
<img class="full-image" src="img/tercera.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="2 padding">
      <div class="logo-welcome padding">
        <img class="full-image"src="img/aidelogo-black.png">
      </div>
        <h4 class="text-center">Let's begin</h4>
      </br>
    </br>
        <a style="text-decoration: none;" href="#/login"><button class="button button-block button-positive">
        Next
      </button></a>
  </div>
    </ion-slide>
  </ion-slide-box>
</ion-content>
</ion-view>
